{%- if variant.unit_price_measurement -%}
  <div class="unit-price {{ class }}">
    <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
    {%- capture unit_price_money -%}
      <span class="unit-price__price theme-money">{{ variant.unit_price | money }}</span>
    {%- endcapture -%}
    {{ unit_price_money | unit_price_with_measurement: variant.unit_price_measurement }}
  </div>
{%- endif -%}
